<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <body>
    <h1>User ID : <%= targetUser[0].id %></h1>
    <ul>
      <li>Name : <%= targetUser[0].name %></li>
      <li>Email : <%= targetUser[0].email %></li>
      <li>Age : <%= targetUser[0].age %></li>
      <li>Country : <%= targetUser[0].country %></li>
    </ul>
    <a href="/users">Back to Users Page</a>
  </body>
</html>
